dallas_permit_agent_workflow.json
{
  "name": "Dallas Permit Value Predictor Agent (Telegram)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are the Dallas Permit Value Predictor assistant. You help urban planners and contractors estimate building permit construction values in Dallas, TX.\n\nWhen the user describes a permit, extract these fields and call the predict tool:\n- permit_category: one of [Building, Electrical, Plumbing, Mechanical, Fence, Swimming Pool]\n- sub_category: one of [Single Family, Multi Family, Commercial]\n- work_type: one of [New Construction, Alteration, Renovation, Addition]\n- occupancy_type: land use description\n- zip_code: 5-digit Dallas ZIP as a string\n- area_sqft: square footage as a number\n- contractor_city: city where contractor is based\n- issue_month: month as integer 1-12\n\nALWAYS call the predict tool when the user provides permit details.\n\nAfter getting the prediction, explain the result clearly:\n- State the predicted value in dollars\n- Mention if it was classified as an administrative (zero-value) or construction permit\n- Share the 95% confidence interval range\n- Keep it conversational!"
        }
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "google-gemini",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        360,
        500
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "",
          "name": "Google Gemini account"
        }
      }
    },
    {
      "parameters": {
        "description": "Call this tool to predict the construction value of a Dallas building permit.",
        "method": "POST",
        "url": "https://dallas-permit-predictor.onrender.com/predict",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "permit_category",
              "value": "={{ $fromAI('permit_category', 'The permit category e.g. Building', 'string') }}"
            },
            {
              "name": "sub_category",
              "value": "={{ $fromAI('sub_category', 'Sub-category', 'string') }}"
            },
            {
              "name": "work_type",
              "value": "={{ $fromAI('work_type', 'Work type: New Construction, Alteration', 'string') }}"
            },
            {
              "name": "occupancy_type",
              "value": "={{ $fromAI('occupancy_type', 'Land use description', 'string') }}"
            },
            {
              "name": "zip_code",
              "value": "={{ $fromAI('zip_code', '5-digit ZIP code', 'string') }}"
            },
            {
              "name": "area_sqft",
              "value": "={{ $fromAI('area_sqft', 'Square footage (number)', 'number') }}"
            },
            {
              "name": "contractor_city",
              "value": "={{ $fromAI('contractor_city', 'City', 'string') }}"
            },
            {
              "name": "issue_month",
              "value": "={{ $fromAI('issue_month', 'Month 1-12', 'number') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "predict-tool",
      "name": "Predict Permit Value",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        580,
        500
      ]
    },
    {
      "parameters": {},
      "id": "memory",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        480,
        500
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "telegram-reply",
      "name": "Telegram Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        720,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Predict Permit Value": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
